html {
    color:white;
    background-image: url('../resources/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #0d101f;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.6;
}
a {
    color:white;
}
a:hover {
    color:blueviolet;
}
a:active {
    color:purple;
}